.form-container {
  border-right: rgba(0, 0, 0, 0.117) solid 2px;
}
.form-container h1 {
  font-size: 4.4rem;
  padding-left: 3rem;
  margin-top: 2rem;
  letter-spacing: 2px;
  transform: translateY(2rem);
}

.form-container form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form-inputs {
  display: flex;
  flex-direction: column;
}
.form-inputs input {
  margin: 2rem;
  height: 3rem;
  font-size: 2rem;
  border: none;
  padding: 1rem;
  border-bottom: rgba(0, 0, 0, 0.117) solid 2px;
}
.form-inputs input:focus {
  height: 3rem;
  font-size: 2rem;
  outline: none;
}

.inform-user {
  grid-column: 1 / -1;
  margin: 2rem 0 2rem 2rem;

  gap: 10rem;
}

.inform-user p {
  font-size: 1.2rem;
  margin: 0;
}
.inform-user p span {
  font-size: 1.2rem;
  font-weight: 700;
}

.invalid-input {
  background-color: rgba(255, 0, 0, 0.161);
}

.input-container {
  position: relative;
}

.input-container p {
  position: absolute;
  z-index: 1;
  bottom: 0rem;
  margin-left: 2rem;
  font-size: 0.8rem;
  color: red;
}

.sub-form-btn {
  grid-column: 1 / -1;
  background-color: #fff;
  border: solid black 1px;
  margin: 0 2rem 4rem 2rem;
  cursor: pointer;
  transition: all 0.4s;
  padding: 0;
}
.sub-form-btn-link {
  display: inline-block;
  color: black;
  padding: 1.6rem 0;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s;
  width: 100%;
}

.sub-form-btn:hover {
  background-color: black;
}
.sub-form-btn:hover .sub-form-btn-link {
  color: #fff;
}

.invalid-btn {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.087);
  border: solid #fff 1px;
  margin: 0 2rem 4rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

.invalid-btn p {
  color: rgba(0, 0, 0, 0.743);
  padding: 1.6rem 0;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: not-allowed;
  width: 100%;
  height: 100%;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
