.individual-form-product-large {
  width: 40rem;
}
.individual-form-product-large:hover .form-img-large {
  scale: 1.02;
}

.form-img-large {
  width: 100%;
  transition: all 1s;
  cursor: pointer;
}

.form-info-large {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-info-large div:first-child {
  max-width: 28rem;
}

.form-info-large h2 {
  font-size: 2rem;
  margin: 0;
}
.form-info-large p {
  font-size: 1.4rem;
  margin: 0;
}
.form-info-large span {
  text-align: center;
  font-size: 1.8rem;
  width: 100%;
  display: inline-block;
  margin-bottom: 0.1rem;
}

.form-button-large {
  font-size: 2rem;
  gap: 0.2em;
  border: solid rgba(0, 0, 0, 0.562) 2px;
}

@media (max-width: 500px) {
  .individual-form-product-large {
    width: 30rem;
  }
  .form-info-large h2 {
    font-size: 1rem;
  }
  .form-info-large p {
    font-size: 0.8rem;
  }
  .form-info-large span {
    font-size: 0.8rem;
  }
}
@media (max-width: 350px) {
  .individual-form-product-large {
    width: 20rem;
  }
  .form-info-large h2 {
    font-size: 1rem;
  }
  .form-info-large p {
    font-size: 0.8rem;
  }
  .form-info-large span {
    font-size: 0.8rem;
  }
}
