.shopping-Section {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  gap: 3rem;
  justify-content: center;
}

@media (max-width: 1000px) {
  .shopping-Section {
    flex-direction: column;
    justify-content: center;
    width: max-content;
  }
}
