.mask-add-btn {
  font-family: inherit;
  cursor: pointer;

  z-index: 0;
  width: 11rem;

  border: none;
  padding: 0.2rem 0rem;
  border-radius: 0.3rem;
  background-color: rgba(255, 255, 255, 0.617);
  color: rgba(0, 0, 0, 0.502);

  transition: all 0.5s;

  justify-content: center;

  font-size: 2.3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border: solid rgba(0, 0, 0, 0.473) 2px;
}
.mask-add-btn:active,
.mask-add-btn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.svgCart {
  width: 2rem;
}
