.mask-add-btn {
  font-family: inherit;
  cursor: pointer;

  position: absolute;
  bottom: 2rem;
  z-index: 0;

  border: none;
  font-size: 2rem;
  font-weight: 700;
  background-color: inherit;
  color: black;

  border-bottom: solid black 3px;

  transition: all 0.5s;

  display: flex;
  justify-content: center;
  gap: 0.5rem;

  width: 9.4rem;
}

.cartSvg {
  height: 2.2rem;
}
